@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Poppins', sans-serif;

    --booking-bg: linear-gradient(180deg, #f8f8f8 20%, #ffffff 80%);

    --color-secondary: #ff4d30;
    --color-black: #010103;
    --color-white: #f3f2f4;
    --bg-gradient: linear-gradient(0deg, #0f051d 85%, #130749 100%);
    --bg-secondary-gradient: linear-gradient(25deg,#2600fc,#ff00ea);
}